<div class="container">
  <div class="row">
    <div class="col-md-12 text-center"><h2>Sign Up</h2>
          <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :name %>
            <p class="control has-icons-left">
              <%= f.text_field :name, autofocus: true, :placeholder => "name", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <%= f.label :email %>
            <p class="control has-icons-left">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <p class="control has-icons-left">
            <%= f.password_field :password, autocomplete: "new-password", :placeholder => "password", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %>
            <p class="control has-icons-left">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "password confirmation", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="actions">
            <%= f.submit "Sign up", class: "button is-success" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
      
<div class= "container mt-5">
  <div class = "row">
    <div class= "col-md-4 text-center">
      <a href="https://px.a8.net/svt/ejp?a8mat=3HKY8E+A6R1F6+4PS8+BY641" rel="nofollow">
      <img border="0" width="300" height="250" alt="" src="https://www20.a8.net/svt/bgt?aid=210929486616&wid=001&eno=01&mid=s00000022004002007000&mc=1"></a>
      <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3HKY8E+A6R1F6+4PS8+BY641" alt="">
    </div>
    <div class= "col-md-4 text-center">
      <a href="https://px.a8.net/svt/ejp?a8mat=3HKY8E+D2CGOI+3GHY+66OZ5" rel="nofollow">
      <img border="0" width="300" height="250" alt="" src="https://www22.a8.net/svt/bgt?aid=210929486790&wid=001&eno=01&mid=s00000016135001039000&mc=1"></a>
      <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3HKY8E+D2CGOI+3GHY+66OZ5" alt="">
    </div>
        <div class= "col-md-4 text-center">
      <a href="https://px.a8.net/svt/ejp?a8mat=3HKY8E+F5D2WI+4D80+5Z6WX" rel="nofollow">
      <img border="0" width="300" height="250" alt="" src="https://www21.a8.net/svt/bgt?aid=210929486916&wid=001&eno=01&mid=s00000020376001004000&mc=1"></a>
      <img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3HKY8E+F5D2WI+4D80+5Z6WX" alt="">
    </div>
  </div>
</div>
    </div>
  </div>


