<div class= "container">
  <div class = "row">
    <div class= "col-md-12 mt-5 text-center">
      <a href="https://px.a8.net/svt/ejp?a8mat=3HKY8E+7GIILU+4KMO+5Z6WX" rel="nofollow">
       <img border="0" width="468" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=210929486451&wid=001&eno=01&mid=s00000021336001004000&mc=1"></a>
       <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3HKY8E+7GIILU+4KMO+5Z6WX" alt="">
    </div>
  </div>
</div>

<div class= "paginate">
  <%= paginate @items %>
</div>

<div class="list-wrap">
<% @items.each do |item| %>
  <div class="list-box">
    <%= attachment_image_tag item, :image, :fill, 200, 200, format: 'jpeg' %>
    <div class="list-comment">
      <span class="list-body"><%= item.caption %></span>
      <span class="list-title"><%=link_to item.name, item_path(item.id) %></span>
    </div>
  </div>
<% end %>
</div>

<div class= "paginate">
  <%= paginate @items %>
</div>

</div>